<h1>{{title}}</h1>
<form method = "POST">
    <fieldset>
        <label for="title">Title:</label>
        <input name="title" id="title">
    </fieldset>
    <fieldset>
        <label for="reviewer">Reviewer:</label>
        <input name="reviewer" id="reviewer">
    </fieldset>
        <fieldset>
        <label for="book">Book:</label>
        <select name="book" id="book">
            {{#each books}}
            <option>{{this.title}}</option>
            {{/each}}
        </select>
    </fieldset>
        <fieldset>
        <label for="body">Body:</label>
        <input name="body" id="body">
    </fieldset>
    <button>Add</button>
</form>