<nav>
    <a href="/">Home</a>
    <ul>
      <li>
        <a href="/adil">Adil</a>
      </li>
      <li>
        <a href="/ahmad">Ahmad</a>
      </li>
      <li>
        <a href="/amjad">Amjad</a>
      </li>
      <li>
        <a href="/khadija">Khadija</a>
      </li>
    </ul>
  </nav>